.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-auth {
  background-color:#E8E8E8;
  padding: 10px 10px 10px 30px;
  min-height: 10vh;
}

.App-basic {
  background-color:aliceblue;
  padding: 10px 10px 10px 30px;
  min-height: 5vh;
}

.App-native {
  background-color:#ffdddd;
  padding: 10px 10px 10px 30px;
  min-height: 20vh;
}

.App-erc20 {
  background-color:#e6e1dc;
  padding: 10px 10px 10px 30px;
  min-height: 30vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
